<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href=""><img src="../public/user.png" alt="logo" id="logo" ></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <!-- locals.user comes from middleWare as a res.locals.user -->
        <% if(locals.user){ %>
          <!-- locals.user.userName or user.userName -->
          <li class="nav-item nav-link"> <%= locals.user.userName %></li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/controlPanel">Control Panel</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allQ&A">Ask & Answer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/NewQ">Ask a Question</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        <% } else { %> 
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sing Up</a>
          </li>
        <% } %>
       
      </ul>
    </div>
  </div>
</nav>
